/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    width: 100%;
    background-color: #232530;
    height: 44px;
    padding: 0 40px;
}

nav ul,
nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #b4c6f0;
}

nav ul li a:hover {
    background-color: rgb(246, 246, 246);
    color: #9675b4;
}

div.hero {
    height: 350px;
    background-color: #000000fa;
    background-image: url('budget3.jpeg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

div.hero h1,
div.hero h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 180px;
}

div.hero h1 {
    color: black;
    font-size: 4.2em;
    margin-bottom: 20px;
}

div.hero h2 {
    color: #4d5791;
}

main {
    padding: 40px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    display: inline-block;
    font-size: 1.5em;
}

footer {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

.skip {
    display: block;
    line-height: 144px;
    padding: 0 20px;
    margin-top: -44px;
}

.skip:focus {
    margin-top: 0;
}

.center {
    text-align: center;
}

main article {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    main article {
        margin: 10px;
    }
}

#myChart {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
}
