<main class="center" id="main">

  <div class="page-area">

      <pb-article>
          <h1>Stay on track</h1>
          <p>
              Ever wondered where your money goes? It's easy to lose track, but effective budget management relies on real data. Our app is here to assist you in gaining clarity about your spending habits!
          </p>
      </pb-article>

      <pb-article>
          <h1>Alerts</h1>
          <p>
              "Imagine running out of your clothing budget unexpectedly. With our app, you'll receive timely alerts to ensure you never exceed your budgetary limits."                </p>
      </pb-article>

      <pb-article>
          <h1>Results</h1>
          <p>
              Individuals who diligently follow a financial plan, carefully tracking their expenses, find themselves on a faster path to financial freedom. Moreover, they enjoy a more content and worry-free life, spending without anxiety or guilt, knowing their finances are well-managed and secure.
          </p>
      </pb-article>

      <pb-article>
          <h1>Free</h1>
          <p>
              This application is entirely cost-free! Plus, you have full control over your data, ensuring your privacy and security.                </p>
      </pb-article>



      <pb-article>

      </pb-article>



      <pb-article>
          <h1>Chart</h1>
          <p>
            <canvas id="myChart"></canvas>
            <!-- <li><a href="chart.html">"Click here to view the budget chart "</a></li> -->
          </p>

      </pb-article>

  </div>

</main>
